@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.main {
    width: 334px;
    height: auto;
    margin: 232px auto;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
}
h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}
.input {
    display: flex;
    margin-top: 11px;
    width: 281.3px;
    height: 40px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 6.83px;
}

input {
    border: 0;
    width: 224.3px;
    height: 35px;
    margin-left: 10px;
}

.design {
    width: 299px;
    border-radius: 10px;
    margin-top: -5px;
    margin-left: 15px;
    padding-bottom: 11px;
    border: 0px solid #C4C4C4;
    overflow: auto;
}

.button {
    margin: 21px 0 23px 92px;
    border: 0;
    background-color: white;
}

.delete {
    background-color: white;
    border: 0;
    width: 20px;
    height: 20px;
    margin-top: 8px;
}

.plus {
    padding-top: 13px;
    width: 42px;
    height: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #9046ea;
    border-radius: 71px;
}

.button {
    width: 150px;
    height: 42px;
    background: #9953F1;
    border-radius: 71px;
}
.sort {
    background-color: white;
    border: 0;
    width: 25px;
    height: 15px;
    margin-left: 281px;
}
p {
    margin-left: 70px;
    margin-top: -29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
}